.class-container {
  min-height: 100vh;
}
.class-class {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.class-rectangle1 {
  top: 0px;
  left: 0px;
  width: 391px;
  height: 844px;
  position: absolute;
  border-color: transparent;
}
.class-rectangle11 {
  top: -30px;
  left: 0px;
  width: 391px;
  height: 271px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.class-smilingbusinessmansittingbytablecafewithlaptopcomp {
  top: -10px;
  left: -695px;
  width: 1438px;
  height: 959px;
  position: absolute;
  border-color: transparent;
}
.class-rectangle3 {
  top: 760px;
  left: -33px;
  width: 456px;
  height: 98px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.class-text {
  top: 720px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.class-maskgroup {
  top: 465px;
  left: 293px;
  width: 84px;
  height: 108px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.class-stylishbusinesswomanworkslaptopcomputercozycoffees {
  top: -4px;
  left: -38px;
  width: 176px;
  height: 117px;
  position: absolute;
  border-color: transparent;
}
.class-rectangle21 {
  top: 577px;
  left: 293px;
  width: 84px;
  height: 108px;
  position: absolute;
  border-color: transparent;
  border-radius: 11px;
}
.class-text2 {
  top: 648px;
  left: 304px;
  color: rgba(44, 43, 43, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.class-chevron1 {
  top: 646px;
  left: 318px;
  width: 34px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.class-text4 {
  top: 590px;
  left: 301px;
  color: rgba(44, 43, 43, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.class-maskgroup1 {
  top: 353px;
  left: 293px;
  width: 84px;
  height: 108px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.class-businessmanleadermodernofficewithbusinesspeoplewor {
  top: 0px;
  left: -14px;
  width: 222px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.class-rectangle31 {
  top: 54px;
  left: 42px;
  width: 306px;
  height: 55px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.class-text6 {
  top: 72px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.class-tasks {
  top: 786px;
  left: 234px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.class-rectangle12 {
  top: 776px;
  left: 31px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.class-chat {
  top: 786px;
  left: 329px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.class-home2 {
  top: 786px;
  left: 143px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.class-youtube1 {
  top: 786px;
  left: 41px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
